
table {
    border-spacing:0.1em;
    margin-bottom:1em;
    margin-top:1em
}

table th,td{
    border:1px solid #CCCCCC;
    padding:0.3em 1em
}

table thead th{
    background-color:#999999;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    vertical-align:middle
}

table thead .sorted{
	cursor:pointer;
    cursor:hand;
}

.desc::after { 
    content: "↓";
}
.asc::after { 
    content: "↑";
}